<h2>Produtos: </h2>
<a href="/cadastrarproduto/{{lojaid}}">
    <button type="button" name="button" class="btn btn-primary">Cadastrar</button>
</a>
<br><br>
{{#each produtos}}
    <div class="row">
        <div class="col-sm-7">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5 mr-4">
                            <h5>{{codigo}} - {{nome}}</h5>
                            <h6>{{classificacao}}</h6>
                        </div>
                        <div class="col-sm-5 ml-5">
                            <small>Quantidade: {{quantidade}}</small>
                            <br><small>Valor: R$ {{valor}}</small>
                        </div>
                    </div>
                    <br>
                    <form class="" action="/removerproduto/{{lojaId}}" method="post">
                        <div class=" mt-4 col text-center">
                        <a href="/alterarproduto/{{lojaId}}/{{id}}">
                            <button class="btn btn-primary mt-2" type="button" name="buttonEdita">Editar</button>
                        </a>
                        <input type="hidden" name="id" value="{{id}}">
                        <button type="submit" class="btn btn-danger mt-2" name="buttonRemove">Remover</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <h4 class="mt-2">Nenhum produto registrado</h4>
{{/each}}
