<h2>Lojas: </h2>
<a href="/cadastrarloja">
    <button type="button" name="button" class="btn btn-primary">Cadastrar</button>
</a>
<br><br>
{{#each lojas}}
    <div class="row">
        <div class="col-sm-7">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5 mr-4">
                            <h5>{{nome}}</h5>
                            <h6>{{cnpj}}</h6>
                            <small>{{rua}}, {{numero}} {{complemento}}</small>
                            <br><small>{{bairro}}, {{cidade}} - {{uf}}</small>
                        </div>
                        <div class="col-sm-5 mt-2 ml-5">
                            <br><small>Telefone: {{telefone}}</small>
                            <br><small>E-mail: {{email}}</small>
                            <br><small>Responsável: {{responsavel}}</small>
                        </div>
                    </div>
                    <br>
                    <form class="" action="/removerLoja" method="post">
                        <div class=" mt-4 col text-center">
                        <a href="/alterarloja/{{id}}">
                            <button class="btn btn-primary mt-2" type="button" name="buttonEdita">Editar</button>
                        </a>
                        <input type="hidden" name="id" value="{{id}}">
                        <button type="submit" class="btn btn-danger mt-2" name="buttonRemove">Remover</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <h4 class="mt-2">Nenhuma loja registrado</h4>
{{/each}}
